<header>
  <div class="container">
    <h1 class="site-title"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
    <nav class="nav-links">
      <a href="{{ '/' | relative_url }}"{% if page.nav == 'about' %} class="active"{% endif %}>about</a>
      <a href="{{ '/publications.html' | relative_url }}"{% if page.nav == 'publications' %} class="active"{% endif %}>publications</a>
      <a href="{{ '/blog.html' | relative_url }}"{% if page.nav == 'blog' %} class="active"{% endif %}>blog</a>
    </nav>
  </div>
</header>
